$main: rgb(12, 121, 223);
$main-highlight: rgb(50, 173, 255);
$main-focus: rgb(0, 83, 161);

$support: #000;

$app-background: rgb(211, 236, 253);

$box-background:    rgb(211, 236, 253);

$element-background: rgb(189, 223, 252);
$element-stroke: rgb(107, 179, 212);

$text-light: rgb(72, 77, 82);
$text-dark: rgb(28, 38, 49);