$main: rgb(12, 121, 223);
$main-highlight: rgb(50, 173, 255);
$main-focus: rgb(0, 83, 161);

$support: #000;

$app-background: rgb(211, 236, 253);

$box-background:    rgb(211, 236, 253);

$element-background: rgb(189, 223, 252);
$element-stroke: rgb(107, 179, 212);

$text-light: rgb(72, 77, 82);
$text-dark: rgb(28, 38, 49);

/* === DARK THEME === */

$main--dark: rgb(12, 121, 223);
$main-highlight--dark: rgb(50, 173, 255);
$main-focus--dark: rgb(0, 83, 161);

$support--dark: rgb(255, 255, 255);

$app-background--dark: rgb(16, 18, 20);

$box-background--dark:    rgb(29, 31, 41);

$element-background--dark: rgb(37, 41, 63);
$element-stroke--dark: rgb(20, 30, 41);

$text-light--dark: rgb(203, 209, 214);
$text-dark--dark: rgb(239, 243, 247);