
@use "./colors" as *;


.dark {

	.app-name, .box-heading {
		color: $text-dark--dark;
	}
	

	background-color: $app-background--dark;
	color: $text-light--dark;

	.theme-button {
		border: solid 2px $main--dark;
		background: $element-background--dark;
	}

	.theme-button::after {
		background: $main--dark;
	}

	.theme-button:hover::after {
		 background-color: $main-highlight--dark;
	}

	.box {
		background-color: $box-background--dark;
	}

	.box-header {
		border-bottom: solid 1px $element-stroke--dark;
	}

	.box-heading {
		color: $text-dark--dark;
	}

	.box-subtitle {
		color: $text-light--dark;
	}

	.shape-button {
		background-color: $element-background--dark;
	}

	.shape:hover > .shape-button {
		outline: 2px solid $main-highlight--dark;
	}

	.shape-active {
		outline: 4px solid $main--dark;
	}

	input {
		background: $element-background--dark;
		border: solid 1px $element-stroke--dark;
		color: $text-light--dark;
	}

	.button {
		background-color: $main--dark;
		color: white;
	}

	.button:hover,
	.button:focus {
		background-color: $main-highlight--dark;
	}

	.result {
		border-right: solid 1px $element-stroke--dark;
	}

	.graph {
		background: $element-background--dark;
		border: solid 1px $element-stroke--dark;
	}
}
