/* === DESKTOP === */

$mobile-app-padding: 2rem;
$mobile-app-max-width: 120rem;

$mobile-container-gap: 1.6rem;

$mobile-area-padding: 1.6rem;
$mobile-area-gap: 1.6rem;

$mobile-box-padding: 1.6rem;
$mobile-box-gap: 1.6rem;
$mobile-box-corner-radius: 1rem;

$mobile-element-padding: 1rem;
$mobile-element-corner-radius: 1rem;

/* === DESKTOP === */

$desktop-app-padding: 3rem;
$desktop-app-max-width: 120rem;

$desktop-container-gap: 2rem;

$desktop-area-padding: 2rem;
$desktop-area-gap: 2rem;

$desktop-box-padding: 2rem;
$desktop-box-gap: 2rem;
$desktop-box-corner-radius: 2rem;

$desktop-element-padding: 1rem;
$desktop-element-corner-radius: 1rem;