$mobile-text: 1.4rem;
$tablet-text: 1.6rem;
$desktop-text: 1.7rem;

$mobile-heading: 1.2rem;
$tablet-heading: 2.3rem;
$desktop-heading: 2.6rem;

$mobile-label: 1rem;
$tablet-label: 1.2rem;
$desktop-label: 1.4rem;
