$icon-square: url("../../dist/img/shapes/square.png");
$icon-rectangle: url("../../dist/img/shapes/rectangle.png");
$icon-circle: url("../../dist/img/shapes/circle.png");
$icon-triangle: url("../../dist/img/shapes/triangle.png");
$icon-rhomboid: url("../../dist/img/shapes/rhomboid.png");
$icon-rhombus: url("../../dist/img/shapes/rhombus.png");
$icon-deltoid: url("../../dist/img/shapes/deltoid.png");
$icon-trapeze: url("../../dist/img/shapes/trapeze.png");
$icon-cube: url("../../dist/img/shapes/cube.png");
$icon-prism: url("../../dist/img/shapes/prism.png");
$icon-sphere: url("../../dist/img/shapes/sphere.png");
$icon-cylinder: url("../../dist/img/shapes/cylinder.png");
$icon-tetrahedron: url("../../dist/img/shapes/tetrahedron.png");
$icon-cone: url("../../dist/img/shapes/cone.png");

.square .shape-button {
	background-image: $icon-square;
}

.rectangle .shape-button {
	background-image: $icon-rectangle;
}

.circle .shape-button {
	background-image: $icon-circle;
}

.triangle .shape-button {
	background-image: $icon-triangle;
}

.rhomboid .shape-button {
	background-image: $icon-rhomboid;
}

.rhombus .shape-button {
	background-image: $icon-rhombus;
}

.deltoid .shape-button {
	background-image: $icon-deltoid;
}

.trapeze .shape-button {
	background-image: $icon-trapeze;
}

.cube .shape-button {
	background-image: $icon-cube;
}

.prism .shape-button {
	background-image: $icon-prism;
}

.sphere .shape-button {
	background-image: $icon-sphere;
}

.cyllinder .shape-button {
	background-image: $icon-cylinder;
}

.tetrahedron .shape-button {
	background-image: $icon-tetrahedron;
}

.cone .shape-button {
	background-image: $icon-cone;
}
