@use "./fonts" as *;
@use "./fontsizes" as *;
@use "./dimensions" as *;
@use "./icons" as *;
@use "./colors" as *;
@use "./scrollbar" as *;
@use "./darkTheme" as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
	outline: 2px solid $main;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0 auto;
	font-family: $default-font, sans-serif;
	font-size: $mobile-text;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	padding: $mobile-app-padding;
	gap: $mobile-container-gap;
}

.content {
	display: flex;
	flex-direction: column;
	gap: $desktop-area-gap;
	flex-grow: 1;
}

.options {
	flex-direction: row;
	align-items: center;
	gap: $mobile-box-gap;
}

.theme-changer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: $mobile-box-gap;
}

.theme-button {
	position: relative;
	border-radius: 50px;
	border: solid 2px $main;
	width: 36px;
	height: 22px;
	outline: none;
	cursor: pointer;
}

.theme-button::after {
	content: "";
	width: 14px;
	height: 14px;
	background: $main;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	position: absolute;
	transition: left 0.3s ease-in-out;
}

.theme-button:hover::after {
	background-color: $main-highlight;
}

.theme-active::after {
	left: 16px;
}

.area {
	display: flex;
	flex-direction: column;
	gap: $mobile-area-gap;
}

.box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $box-background;
	padding: $mobile-box-padding;
	border-radius: $mobile-box-corner-radius;
}

.box-header {
	padding-bottom: $mobile-box-padding;
	border-bottom: solid 1px $element-stroke;
}

.app-name,
.box-heading {
	color: $text-dark;
}

.box-subtitle {
	color: $text-light;
}

.shapes,
.initial-values,
.graph {
	padding: $mobile-box-padding 0;
	flex-grow: 1;
}

.shapes-box {
	flex: 1;
	overflow: hidden;
	padding-bottom: 0;
	max-height: 30rem;
}

.shapes {
	display: grid;
	gap: $mobile-box-gap 0;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	overflow-y: scroll;
	overflow-x: visible;
	padding-right: $mobile-box-padding;
}

.shape {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	cursor: pointer;
}

.shape-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	width: 70px;
	border: none;
	border-radius: 50%;
	background-color: $element-background;
	background-size: contain;
	pointer-events: none;
	transition: outline 0.1s ease;
}

.shape-icon {
	flex-grow: 1;
	height: 100%;
}

.shape:hover > .shape-button {
	outline: 2px solid $main-highlight;
}

.shape-active {
	outline: 4px solid $main;
}

.shape-label {
	text-align: center;
	pointer-events: none;
}

.initial-values-box {
	flex: 3;
}

.input-group {
	display: flex;
	align-items: center;
	margin: 20px 0;
	flex-grow: 1;
}

input {
	display: block;
	flex: 3;
	margin-left: 20px;
	background: $element-background;
	border: solid 1px $element-stroke;
	border-radius: $mobile-element-corner-radius;
	padding: $mobile-element-padding;
	font-size: $mobile-text;
}

label {
	text-transform: capitalize;
	flex: 1
}

.button-box {
	display: flex;
}

.button {
	border: none;
	background-color: $main;
	color: white;
	padding: $mobile-element-padding;
	border-radius: $mobile-element-corner-radius;
	transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
	cursor: pointer;
	flex-grow: 1;
	font-size: $mobile-text;
}

.button:hover,
.button:focus {
	background-color: $main-highlight;
}

.results-box {
	flex-grow: 1;
}

.results {
	display: flex;
	padding: 20px 0;
	text-transform: capitalize;
}

.result {
	padding-right: 20px;
	margin-left: 20px;
	border-right: solid 1px $element-stroke;

	&:first-child {
		margin-left: 0px;
	}

	&:last-child {
		border: none;
	}
}

.result-value {
	font-weight: bold;
}

.graph {
	background: $element-background;
	border: solid 1px $element-stroke;
	border-radius: $mobile-element-corner-radius;
}

@import "./media";
